@namespace JournalApp.Components.Layout
@inherits LayoutComponentBase
@inject JournalApp.Services.ThemeService Theme
@implements IDisposable

<div class="page @Theme.ThemeClass">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        Theme.OnChange += ThemeChanged;
    }

    private void ThemeChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Theme.OnChange -= ThemeChanged;
    }
}
